# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Dataset
dataset/

# CSV files generated during preprocessing
*.csv

# Model files
*.h5

# Label encoder classes
*.npy

# Log files
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db
